






{% extends "base.html" %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style media="screen">
  body{
    overflow-x:hidden;
    background-color:#F2F2F2;
  }

  .input_date{
    border-radius:20px;
    padding:8px 3px 8px 30px;
    border:none;
    background-color:white;
    width:200px;
    margin-right:40px;
    margin-top:15px;
  }

  .input_date:hover{
    border:none;
  }

  .custombtn{
      border-color: #1492E6;
      background: #1492E6;
      box-shadow: 3px 3px 6px #00000029;
      font-weight: 700;
      border-radius: 2px;
      word-spacing: 4px;
      font-size: 15px;
      color:white;
      padding:13px 20px;
      border:none;
      margin-top: 15px;
  }

  .modal-dialog{
    border-radius: 12px;
  }

  .modal-content{
    padding:30px !important;
  }

  label{
    text-align: left;
    font: Regular 20px/24px Montserrat;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    font-weight:500 !important;
    margin-top:10px;
  }

  .edinpclass{
    font-weight:500 !important;
    background: #F2F2F6 0% 0% no-repeat padding-box !important;
    border-radius: 12px !important;
    opacity: 1;
    margin-bottom:0px !important;
    border:none;
    padding:10px 3px 10px 20px;
    width:100%;

  }

  a:hover{
    text-decoration:none;
  }

  .site-navbar-wrap, .site-navbar{
    background-color:white !important;
  }

  .site-navbar-wrap{
    box-shadow:0px 1px 10px -5px;
  }

</style>

  <div class="" style="margin-top:120px;margin-left:5vw;margin-bottom:8vh;margin-right:5vw;">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-2 section-heading">
        <h2 class="mb-5">Future Bookings</h2>
      </div>
    </div>

    {% if future_bookings %}
        <table class="table table-striped">
          <th scope="col">#</th>
          <th scope="col">Room Number</th>
          <th scope="col">Booked for</th>
          <th scope="col">Slot</th>
          <th scope="col">Room Manager</th>
          <th scope="col">Booked on</th>
          <th scope="col"></th>

          {% for i in future_bookings %}
          <tr scope="row">
            <td>{{forloop.counter}}</td>
            <td><a style="color:black;text-decoration:none;cursor:pointer;" href="{% url 'Room_Detail' slug=i.room_timeslot_booked.room_id.slug %}">
              {{i.room_timeslot_booked.room_id.room_number}}
            </a></td>
            <td>{{i.booked_for}}</td>
            <td>{{i.room_timeslot_booked.start_time}} - {{i.room_timeslot_booked.end_time}}</td>
            <td>{{i.room_timeslot_booked.room_id.room_manager.manager_id.name}}</td>
            <td>{{i.booked_on}}</td>
            <td><a type="button" style="color:red;text-decoration:none;cursor:pointer;" data-toggle="modal" data-target="#cancelbooking{{forloop.counter}}">
              Cancel Booking
            </a></td>

            <div class="modal fade" id="cancelbooking{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" id="eddetailsform" align="center">
                <h3>Cancel Booking</h3><hr>
                <p>Are you sure you want to cancel your booking.</p>
                <form action="{% url 'CancelBooking' %}" method="POST">{% csrf_token %}
                  <input type="text" hidden name="start_time" value="{{i.room_timeslot_booked.start_time}}">
                  <input type="text" hidden name="end_time" value="{{i.room_timeslot_booked.end_time}}">
                  <input type="text" hidden name="room_no" value="{{i.room_timeslot_booked.room_id.room_number}}">
                  <input type="text" hidden name="booked_for" value="{{i.booked_for|date:'Y-m-d'}}">
                  <button type="submit" class="custombtn" name="button" style="width:100%;">Cancel Booking</button>
                </form>
                </div>
            </div>
            </div>
          </tr>

          {% endfor %}

        </table>
    {% else %}
    <div align="center">
        <p style="font-weight:bold;font-size:1.1em;">No bookings to show.</p>
    </div>
    {% endif %}


      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-2 section-heading">
          <h2 class="mb-5 mt-5">Past Bookings</h2>
        </div>
      </div>

      {% if previous_bookings %}

          <table class="table table-striped">
            <th scope="col">#</th>
            <th scope="col">Room Number</th>
            <th scope="col">Booked for</th>
            <th scope="col">Slot</th>
            <th scope="col">Room Manager </th>
            <th scope="col">Booked on</th>

            {% for i in previous_bookings %}

              <tr scope="row">
                <td>{{forloop.counter}}</td>
                <td><a style="color:black;text-decoration:none;cursor:pointer;" href="{% url 'Room_Detail' slug=i.room_timeslot_booked.room_id.slug %}">
                  {{i.room_timeslot_booked.room_id.room_number}}
                </a></td>
                <td>{{i.booked_for}}</td>
                <td>{{i.room_timeslot_booked.start_time}} - {{i.room_timeslot_booked.end_time}}</td>
                <td>{{i.room_timeslot_booked.room_id.room_manager.manager_id.name}}</td>
                <td>{{i.booked_on}}</td>
              </tr>


            {% endfor %}

          </table>
      {% else %}
      <div align="center">
          <p style="font-weight:bold;font-size:1.1em;">No bookings to show.</p>
      </div>
      {% endif %}

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



{% endblock %}
