{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <style media="screen">
    body{
      overflow-x:hidden;
      background-color:#F2F2F2;
    }

    .input_date{
      border-radius:20px;
      padding:8px 3px 8px 30px;
      border:none;
      background-color:white;
      width:200px;
      margin-right:40px;
      margin-top:15px;
    }

    .input_date:hover{
      border:none;
    }

    .custombtn{
        border-color: #1492E6;
        background: #1492E6;
        box-shadow: 3px 3px 6px #00000029;
        font-weight: 700;
        border-radius: 2px;
        word-spacing: 4px;
        font-size: 15px;
        color:white;
        padding:13px 20px;
        border:none;
        margin-top: 15px;
    }

    .modal-dialog{
      border-radius: 12px;
    }

    .modal-content{
      padding:30px !important;
    }

    label{
      text-align: left;
      font: Regular 20px/24px Montserrat;
      letter-spacing: 0;
      color: #000000;
      opacity: 1;
      font-weight:500 !important;
      margin-top:10px;
    }

    .edinpclass, input{
      font-weight:500 !important;
      background: #F2F2F6 0% 0% no-repeat padding-box !important;
      border-radius: 12px !important;
      opacity: 1;
      margin-bottom:0px !important;
      border:none;
      padding:10px 3px 10px 20px;
      width:100%;

    }

    a:hover{
      text-decoration:none;
    }

    .site-navbar-wrap{
      box-shadow:0px 1px 10px -5px;
    }

  </style>
  <body>




    <div class="row" style="margin-top:120px;margin-left:5vw;margin-bottom:8vh;">
      <div class="col-sm">
        <div class="card" style="width: 18rem;box-shadow:0 10px 10px -8px;">
          <img class="card-img-top" src="/media/{{room.room_pic}}" height="250" width="250" alt="Card image cap">
          <div class="card-body" style="padding:5px;">
            <p class="card-text" style="margin-left:30%;font-weight:bold;font-size:2em;padding:5px;">{{room.room_number}}</p>
          </div>
        </div>
        <button type="button" class="custombtn" style="width:18rem;margin-top:50px;background-color:#f23a2e;" name="button">Price ₹{{room.price}}.00 / per night</button>
      </div>
      <div class="col-sm" style="margin-right:5vw;margin-top:15px;">

        <p style="font-size:1.8em;">Room Manager : {{room.room_manager.manager_id.name}}</p>
        {% if slots %}
        <p style="font-size:1.8em;margin-bottom:30px;">All Slots for Room {{room.room_number}}</p>
        <div class="row" style="margin-left:0px;">
        {% for i in slots %}

          <h4 style="position:relative;background-color:#f23a2e;font-size:1.3em;padding:10px 15px 10px 15px;border-radius:15px;color:white;font-weight:600;width:180px;margin-right:20px;">
            {{i.start_time}}  -  {{i.end_time}} <span data-toggle="modal" data-target="#exampleModaldelete{{forloop.counter}}" style="position:absolute;right:0px;top:3px;background-color:white;padding:7px 12px 7px 12px;color:#f23a2e;cursor:pointer;border-radius:50%;" > X </span>
          </h4>
          <div class="modal fade" id="exampleModaldelete{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="eddetailsform" align="center">
              <h3>Delete Slot</h3><hr>
              <p>Are you sure you want to delete the slot.</p>
              <form action="{% url 'DeleteTimeslot' %}" method="POST">{% csrf_token %}
                <input type="text" hidden name="start_time" value="{{i.start_time}}">
                <input type="text" hidden name="end_time" value="{{i.end_time}}">
                <input type="text" hidden name="room_no" value="{{i.room_id.room_number}}">
                <button type="submit" class="custombtn" name="button" style="width:100%;">Remove Slot</button>
              </form>
              </div>
          </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <button type="button" class="custombtn" style="width:180px;" name="button" data-toggle="modal" data-target="#exampleModaledit">
          Edit Room details
        </button>

        <div class="modal fade" id="exampleModaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" id="eddetailsform" >
            <h3>Edit Room details</h3><hr>
            <form method="POST" action="{% url 'EditRoomDetails' %}" enctype="multipart/form-data">{% csrf_token %}

                <div class="row">
                  <div class="col-sm">
                    <label>Room Number</label><br>
                    <input type="text" readonly name="room_number" value="{{room.room_number}}">
                  </div>
                  <div class="col-sm">
                    <label>Room Manager</label><br>
                    <input type="text" readonly name="full_name" value="{{room.room_manager.manager_id.name}}">
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm">
                    <label>Room Type</label>
                    <select class="edinpclass" name="room_type" required>
                      <option value="{{room.room_type}}">{{room.room_type}}</option>
                      <option value="Single Room">Single Room</option>
                      <option value="Family Room">Family Room</option>
                      <option value="Delux Suite">Delux Suite</option>
                    </select>
                  </div>
                  <div class="col-sm">
                    <label>Price/night</label>
                    <input type="number" min="1000" name="price" required value="{{room.price}}">
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm">
                    <label>Number of days before which booking is allowed</label>
                    <input type="number" name="prior_booking_days" required value="{{room.prior_booking_days}}"><br><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm">
                    <label>Room Picture</label>
                    <input type="file" name="room_pic" placeholder="Room Picture"><br><br>
                  </div>
                </div>

                <button type="submit" class="custombtn" style="width:100%;" name="button">Save Changes</button>

            </form>
            </div>
        </div>
        </div>

        <a href="{% url 'BookingDetails' slug=room.slug %}"><button class="custombtn" type="button" name="button">View Booking details</button></a>
        <a data-toggle="modal" data-target="#exampleModaldeleteroom" style="color:white;cursor:pointer" class="custombtn"  > Delete Room </a>

        <div class="modal fade" id="exampleModaldeleteroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" id="eddetailsform" align="center">
            <h3>Delete Room</h3><hr>
            <p>Are you sure you want to delete the room.</p>
            <form action="{% url 'DeleteRoom' %}" method="POST">{% csrf_token %}
              <input type="text" hidden name="room_no" value="{{room.room_number}}">
              <button type="submit" class="custombtn" name="button" style="width:100%;">Delete Room</button>
            </form>
            </div>
        </div>
        </div>
      </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock %}
