<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

{% load static %}

  <style media="screen">
  body{
    overflow-x:hidden;
    background-color:#F2F2F2;
  }

  .site-navbar-wrap, .site-navbar{
    background-color:white !important;
  }

  .site-navbar-wrap{
    box-shadow:0px 1px 10px -5px;
  }
  </style>




    {% comment %} <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <span class="caption mb-3">All Available Rooms</span>
              <h1 class="mb-4">Our Rooms</h1>
            </div>
          </div>
        </div>
      </div> {% endcomment %}


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">All Rooms</h2>
          </div>
        </div>
        <div class="row">
          {% for i in rooms %}
            <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center" style="height:390px;width:300px;position:relative;box-shadow:0px 10px 10px -8px;">
              <a href="{% url 'Room_Detail' slug=i.slug %}" class="d-block mb-0 thumbnail"><img src="/media/{{i.room_pic}}" style="height:300px;overflow-y:hidden;" alt="Image" class="img-fluid"></a>
              <div class="hotel-room-body" align="center" style="position:absolute;bottom:-16px;left:40px;">
                <h3 class="heading mb-0"><a href="{% url 'Room_Detail' slug=i.slug %}">{{i.room_type}}</a></h3>
                <strong class="price" style="font-weight:bolder;"> ₹{{i.price}}.00 / per night</strong>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>


      </div>
    </div>


{% endblock %}
